img {
  max-width: 100%;
  height: auto;
}

/* About Us Section */
.about-banner {
  position: relative;
  width: 100%;
  height: 400px; /* Prominent banner height */
  overflow: hidden;
}

.about-banner img {
  object-fit: cover;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.banner-overlay h1,
.banner-overlay p {
  margin-left: 100px;
}

.banner-overlay h1 {
  font-size: 70px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Baskervville", serif;
}

.banner-overlay p {
  color: rgb(208, 142, 142);
  margin-bottom: 41px;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

/*  Banner animation Css */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 710px;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}

.typewriter-text {
  position: relative;
  font-weight: bold;
  font-family: "Baskervville", serif;
  letter-spacing: 2px;
  overflow: hidden;
  white-space: nowrap;
  /* border-right: 2px solid hsl(0, 0%, 80%); */
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

/* Lawyer Profile Section */
.lawyer-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 71px 10%;
  gap: 90px;
}

.profile-image {
  position: relative;
  flex: 1;
  max-width: 450px;
}

.profile-image img {
  border-radius: 10px;
}

.experience {
  position: absolute;
  bottom: -15px;
  left: 290px;
  background-color: #a90a0a;
  color: white;
  padding: 6px 25px;
  text-align: center;
}
.experience-box h2 {
  color: #fff;
  font-size: 76px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 5px;
  display: block;
}
.experience-box p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  padding: 0 19px;
  line-height: 1.4;
}

.profile-details {
  flex: 2;
  padding-left: 50px;
  font-style: italic;
}

.profile-details h2 {
  font-size: 46px;
  font-weight: 400;
  font-family: "Baskervville", serif;
  color: #2d0000;
  margin-bottom: 30px;
}

.profile-details h3 {
  font-size: 24px;
  font-weight: 400;
  color: #502626;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
}
.profile-details p {
  font-size: 18px;
  color: #6b5a5a;
  font-weight: 300;
  line-height: 1.8;
  margin-top: 30px;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
  .lawyer-profile {
    padding: 50px 5%;
    gap: 50px;
  }

  .experience {
    left: 150px;
  }

  .profile-details {
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .lawyer-profile {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .experience {
    left: calc(50% - 75px);
  }

  .profile-details {
    padding-left: 0;
    text-align: center;
    margin-top: 35px;
  }

  .profile-details h2,
  .profile-details p {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .about-banner {
    height: 250px;
  }

  .banner-overlay h1 {
    font-size: 2.5rem;
    margin-left: 10px;
    color: red;
  }

  .banner-overlay p {
    margin-left: 10px;
  }

  .experience {
    left: calc(83% - 306px);
    width: 160px;
  }
  .profile-details p {
    font-size: 1rem;
  }
}
@media (max-width: 412px) {
  .profile-details h2 {
    font-size: 40px;
  }
}

/* Choose Us Section */
.choose-us-section {
  background-color: #faf7f5;
  padding: 100px;
  text-align: center;
}

.choose-us-section h2 {
  color: #b40000;
  font-size: 26px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.choose-us-section blockquote {
  font-size: 24px;
  color: #2d0000;
  margin-bottom: 20px;
  font-family: "Baskervville", serif;
}

.choose-us-section p {
  font-size: 18px;
  color: #a8a1a1;
  margin-bottom: 40px;
  text-align: center;
}

.learn-more-btn {
  padding: 15px 35px;
  background-color: #b40000;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #d44444;
}
