body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cookieConsentPopup {
  align-items: baseline;
  background: rgb(32, 22, 22); /* Dark background color */
  color: white; /* White text color */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  width: 18%; /* Adjust the width as per your requirement */
  z-index: 999; /* Ensures it stays above other elements */
  bottom: 0px; /* Positioned at the bottom */
  left: 0px; /* Positioned at the left corner */
  padding: 15px;
  border-radius: 10px;
  max-width: 365px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.acceptButton {
  background: rgb(32, 150, 32); /* Green color for the accept button */
  border: 0px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: none;
  color: rgb(229, 229, 229); /* Light text color */
  cursor: pointer;
  padding: 9px 10px;
  margin: 20px 10px 20px 0px;
  flex: 0 0 auto;
}

.declineButton {
  background: rgb(234, 18, 18); /* Red color for the decline button */
  border: 0px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: none;
  color: rgb(229, 229, 229); /* Light text color */
  cursor: pointer;
  padding: 9px 10px;
  margin: 20px 10px; /* Spacing for the decline button */
  flex: 0 0 auto;
}
